.about_main_section{
    height: 74vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%; 
  }
  
  .about_main_container{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background-image: url(images/gradient3.jpg);
    background-color: black;
    background-position: 50% 0%;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.01);
    border-radius: 20px;
  }
  
  .about_heading{
    color: #fff;
    font-size: 85px;
    line-height: 1.1em;
    letter-spacing: -0.01em;
  }
   
  .meet_team_section{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 0 5% 0 5%;
  }
  
  .meet_team_head_text_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }
  
  .meet_team_head_text{
    font-size: 80px;
    line-height: 1.1em;
    font-weight: 700;
    text-align: center;
  }
  
  .meet_team_row{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
  }
  
  .meet_team_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  
  .team_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .team_image_person{
    margin-bottom: 15px;
    border-radius: 20px;
    width: 100%;
  }
  
  .team_name{
    font-size: 1.5rem;
    line-height: 1.1em;
    font-weight: 600;
    text-align: center;
  }


  @media screen and (max-width: 960px) {
    .about_main_section{
      height: auto;
    }

    .about_main_container{
      height: auto;
      padding: 18vh 10%;
    }
  
    .meet_team_section{
      height: auto;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  
    .meet_team_head_text{
      font-size: 70px;
      line-height: 1.1em;
      font-weight: 700;
      text-align: center;
    }
  
    .team_image_person{
      margin-bottom: 5px;
      border-radius: 20px;
      width: 50%;
    }
  
     .team_name{
      font-size: 2rem;
    }
  
    .about_heading{
      color: #fff;
      font-size: 70px;
      line-height: 1.1em;
      letter-spacing: -0.01em;
    }
  
    .meet_team_grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 70px;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .about_main_section{
      height: auto;
    }

    .about_main_container{
      height: auto;
      padding: 15vh 10%;
    }

    .meet_team_section{
      height: auto;
      padding-top: 5vh;
    }
  
    .meet_team_head_text{
      font-size: 50px;
      line-height: 1.1em;
      font-weight: 700;
      text-align: center;
    }
  
    .team_image_person{
      margin-bottom: 5px;
      border-radius: 20px;
      width: 70%;
    }
  
     .team_name{
      font-size: 1.5rem;
    }
  
    .about_heading{
      color: #fff;
      font-size: 50px;
      line-height: 1.1em;
      letter-spacing: -0.01em;
    }
  
    .meet_team_grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 70px;
    }
  }