.home_main{
    margin-top: 30px;
    height: 80vh;
    padding: 0 5% 0 5%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .home_container{
    max-width: 1200px;
    height: 100%;
    margin: 30px auto 0 auto;
  }
  
  .home_grid{
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    min-width: 600px;
  }
  
  .home_text_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-bottom: 15%;
  }
  
  .home_heading{
    position: relative;
    color: #000;
    font-size: 85px;
    font-family: Inter, 'sans-serif';
    line-height: 1.1em;
    letter-spacing: -0.01em;
    margin-bottom: 12px;
  }
  
  .home_para{
    max-width: 40%;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #000;
    font-size: 22px;
    font-family: Inter, 'sans-serif';
    overflow: hidden;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: -0.01em;
    }
  
  .home_image{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  .button_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .hsw_main_section{
    display: flex;
    height: 80vh;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
    align-items:  center;
    margin-bottom: -70px;
  }
  
  .hsw_main_container{
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hsw_grid{
    display: grid;
    margin-top: 16px;
    grid-column-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .hsw_step{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .hsw_image{
    margin-bottom: -40px;
    max-width: 100%;
  }
  
  .hsw_heading{
    margin-top: 27px;
    margin-bottom: 0;
    font-family: Inter, 'sans-serif';
    color: #000;
    font-size: 30px;
    text-align: center;
  }
  
  .hsw_para{
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 1.1rem;
    line-height: 1.5em;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
    letter-spacing: -0.01em;
  }
