
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', sans-serif; 
}

/* home css */
.home_main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 70vh;
  padding: 0 5% 0 5%;
}

.home_container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.home_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.5fr;
  grid-row-gap: 16px;
}

.home_text_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 2/3
}

.home_heading{
  position: relative;
  color: #000;
  font-size: 90px;
  line-height: 1.1em;
  letter-spacing: -0.01em;
}

.home_para{
  max-width: 40%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000;
  font-size: 1.3rem;
  overflow: hidden;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: -0.01em;
  }

.home_image{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  grid-column: 2/3;
  grid-row: 1/4;
}
  
.button_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button{
  position: relative;
  margin-top: 12px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
  padding: 19px 30px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  line-height: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid #000;
  transition: background-color 500ms ease;
}

.button:hover{
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
}

.hsw_main_section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 5%;
  padding-left: 5%;
}

.hsw_main_container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hsw_grid{
  display: grid;
  margin-top: 16px;
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.hsw_step{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hsw_image{
  margin-bottom: -40px;
  max-width: 100%;
}

.hsw_heading{
  margin-top: 27px;
  margin-bottom: 0;
  color: #000;
  font-size: 30px;
  text-align: center;
}

.hsw_para{
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 1.1rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  letter-spacing: -0.01em;
}


@media screen and (max-width: 960px) {

.home_grid{
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
}

.home_text_container{
  display: flex;
  align-items: flex-start;
  grid-row: 2/3;
}

.home_image{
  height: 100%;
  width: 100%;
  grid-row: 1/4;
}

.home_heading{
  position: relative;
  color: #000;
  font-size: 75px;
  line-height: 1.1em;
  letter-spacing: -0.01em;
}

.home_para{
  max-width: 48%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000;
  font-size: 1.1rem;
  overflow: hidden;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: -0.01em;
  }

.button_wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.hsw_main_section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 7vh;
  padding-bottom: 10vh;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: -70px;
}

.hsw_heading{
  margin-top: 27px;
  margin-bottom: 0;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.hsw_para{
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 5px;
  text-align: left;
  letter-spacing: -0.01em;
}

}


@media screen and (max-width: 600px) {

  .home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 0;
  }

  .home_grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .home_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    grid-row: 1/2;
  }

  .home_heading{
    max-width: 100%;
    margin-top: 20px;
    font-size: 50px;
    line-height: 1.2em;
    text-align: center;
  }

 .home_para{
   max-width: 95%;
   font-size: 1rem;
   line-height: 1.5em;
   text-align: center;
 }

 .button_wrapper{
   flex-direction: column;
 }

 .home_image{
   width: 100%;
   height: 95%;
   grid-row: 2/3;
 }

 .hsw_main_section{
   height: auto;
   padding-top: 2vh;
   padding-bottom: 15vh;
   margin-top: 30px;
   padding-right: 7%;
   padding-left: 7%;
 }

 .hsw_grid{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hsw_grid_container{
  margin-top: -30px;
}

.hsw_heading{
  font-size: 25px;
}

.hsw_para{
  font-size: 1rem;
}

}