
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', sans-serif; 
}

/* home css */
.home_main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  height: 80vh;
  padding: 0 5% 0 5%;
}

.home_container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}


.home_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.5fr;
  grid-row-gap: 16px;
}

.home_text_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.home_heading{
  position: relative;
  color: #000;
  font-size: 100px;
  line-height: 1.1em;
  letter-spacing: -0.01em;
  margin-bottom: 12px;
}

.home_para{
  max-width: 40%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000;
  font-size: 1.3rem;
  overflow: hidden;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: -0.01em;
  }

.home_image{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-row-start: 1;
}
  

.button_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button{
  position: relative;
  margin-top: 12px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
  padding: 19px 30px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  line-height: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid #000;
  transition: background-color 500ms ease;
}

.button:hover{
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
}

.hsw_main_section{
  display: flex;
  justify-content: center;
  align-items:  center;
  height: 80vh;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: -70px;
}

.hsw_main_container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hsw_grid{
  display: grid;
  margin-top: 16px;
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.hsw_step{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hsw_image{
  margin-bottom: -40px;
  max-width: 100%;
}

.hsw_heading{
  margin-top: 27px;
  margin-bottom: 0;
  color: #000;
  font-size: 30px;
  text-align: center;
}

.hsw_para{
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 1.1rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  letter-spacing: -0.01em;
}

/* footer css */
.footer_section {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.footer_heading {
  margin-bottom: 20px;
  color: #000;
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.01em;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    text-align: center;
}

.footer_link {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.1em;
  font-weight: 500;
  letter-spacing: -0.01em;
}

/* popup css */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.1em;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #ececec;
  color: #000;
  text-align: center;
  border-radius: 10px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -80px;
  font-weight: 500;
}


.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ececec transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
