/*Product Features Page*/
.pf_title{
  display: flex;
  height: auto;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
}

.pf_big_heading {
  position: relative;
  color: #fff;
  font-size: 85px;
  line-height: 1.1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.01em;
}

.pf_title_text{
  height: auto;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 30vh;
  padding-bottom: 28vh;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/gradient3.jpg");
  background-position: 100% 50%;
  border-radius: 20px;
}

.pf_text_and_images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 0 5% 0 5%;
}

.pf_container{
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: 0 auto 0 auto;
}

.pf_grid{
  display: grid;
  align-items: center;
  grid-template-columns: 0.75fr 0.75fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-template-rows: auto;
}

.pf_text_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pf_heading{
  color: #000;
  font-size: 55px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.01em
}

.pf_paragraph{
  max-width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

.pf_image{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 800px;
}

.pf_start_learning{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin-top: 50px;
  margin-bottom: -40px;
  padding-right: 5%;
  padding-left: 5%;
}

.pf_start_learning_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 450px;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.pf_start_today{
  margin-bottom: 10px;
  font-size: 65px; 
  letter-spacing: -0.01em;
}

@media screen and (max-width: 960px){

.pf_title_text{
  height: auto;
  padding: 25vh 20%;
}

.pf_text_and_images{
  height: auto;
  padding: 5vh 5%;
}

.pf_grid{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.pf_text_div{
  grid-row: 1/2;
}

.pf_image_div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-row: 2/3;
}

.pf_image{
  width: 80%;
}













}
  