/*Product Features Page*/
.pf_title{
  display: flex;
  height: 79vh;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
}

.pf_big_heading {
  position: relative;
  color: #fff;
  font-size: 85px;
  line-height: 1.1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.01em;
}

.pf_title_text{
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/gradient3.jpg");
  background-position: 100% 50%;
  border-radius: 20px;
}

.pf_text_and_images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 0 5% 0 5%;
}

.pf_container{
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: 0 auto 0 auto;
}

.pf_grid{
  display: grid;
  align-items: center;
  grid-template-columns: 0.75fr 0.75fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-template-rows: auto;
}

.pf_text_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pf_heading{
  color: #000;
  font-size: 55px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.01em
}

.pf_paragraph{
  max-width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

.pf_image{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 800px;
}

.pf_start_learning{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0 5%;
}

.pf_start_learning_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 450px;
  padding: 0 5%;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.pf_start_today{
  margin-bottom: 10px;
  font-size: 55px; 
  letter-spacing: -0.01em;
  text-align: center;
  line-height: 1.3em;
}


@media screen and (max-width: 1200px){
  .pf_start_learning_content{
    width: 1000px;
    padding: 0 5%;
}


@media screen and (max-width: 900px){
  .pf_title{
    height: auto;
  }

  .pf_title_text{
    height: auto;
    padding: 33vh 10%;
  }

  .pf_text_and_images{
    height: auto;
    margin-top: 7vh;
    padding: 2vh 5%;
  }

  .pf_grid{
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-row-gap: 0;
  }

  .pf_text_div{
    grid-row: 1/2;
  }

  .pf_image_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-row: 2/3;
  }

  .pf_image{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .pf_heading{
    font-size: 3rem;
  }

  .pf_paragraph{
    font-size: 1.4rem;
    line-height: 1.5em;
  }

  .pf_start_learning{
    height: auto;
  }

  .pf_start_learning_content{
    width: 100%;
  }

}

@media screen and (max-width: 650px){
  
  .pf_title{
    height: auto;
  }

  .pf_big_heading{
    font-size: 55px;
  }

  .pf_heading{
    font-size: 2.2rem;
    line-height: 1.3em;
  }

  .pf_paragraph{
    font-size: 1.1rem;
  }

  .pf_start_today{
    font-size: 3rem;
  }

  .pf_text_and_images{
    padding: 0 10%;
  }
}