.pricing_head_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  
  .pricing_head_container{
    height: 100%;
    padding-left: 12vw;
    padding-right: 12vw;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background-image: url("images/gradient3.jpg");
    background-position: 40% 95%;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.01);
    background-size: auto;
    border-radius: 20px;
  }
  
  .pricing_big_heading {
    position: relative;
    color: #fff;
    font-size: 85px;
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
  }
  
  .pricing_sub_heading{
    margin-top: 0px;
    color: #fff;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: -0.01em;
    text-align: center;
  }
  
  .sub_heading_underline{
    text-decoration: underline;
  }
  
  .pricing_main_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-bottom: -40px;
  }
  
  .pricing_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 0 5%;
    max-width: 1200px;
  }
  
  .pricing_main_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    align-items: stretch;
  }
  
  .pricing_block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10vh 7%;
    border-radius: 20px;
    background-color: #ececec;
  }
  
  
  .pricing_block_heading{
    margin-bottom: 5px;
    color: #000;
    font-size: 2.2rem;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: -0.01em;
  }
  
  .price{
    margin-bottom: 10px;
    color: #000;
    font-size: 1.4rem;
    line-height: 1.1em;
    font-style: italic;
    font-weight: 600;
  }
  
  .pricing_div_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .pricing_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-left: 40px;
  }
  
  .pricing_list_feature{
    margin: 7px 0 10px 0;
    color: #000;
    font-size: 1.1rem;
    line-height: 1.3em;
    font-weight: 500;
  }


  @media screen and (max-width: 900px) {
    .pricing_head_section{
      height: auto;
    }

    .pricing_head_container{
        height: auto;
        padding: 18vh 10%;
    }

    .pricing_big_heading{
      color: #fff;
      font-size: 70px;
      letter-spacing: -0.01em;
    }

    .pricing_sub_heading{
      font-size: 20px;
    }
    
    .pricing_main_grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 40px;
    }

    .pricing_main_section{
      height: auto;
      margin-top: 70px;
      margin-bottom: 70px;
    }

    .pricing_block{
      width: 500px;
      height: 600px;
    }

    .pricing_block_heading{
      font-size: 3.5rem;
    }

    .price{
      font-size: 2rem;
    }

    .pricing_list_feature{
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 600px) {
    .pricing_head_section{
      height: auto;
    }

    .pricing_head_container{
        height: auto;
        padding: 20vh 10%;
    }

    .pricing_big_heading{
      color: #fff;
      font-size: 50px;
      letter-spacing: -0.01em;
      margin-bottom: 20px;
    }

    .pricing_sub_heading{
      font-size: 20px;
    }
    
    .pricing_main_grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 40px;
    }

    .pricing_main_section{
      height: auto;
      margin-top: 70px;
      margin-bottom: 20px;
    }

    .pricing_block{
      width: 100%;
      height: 500px;
    }

    .pricing_block_heading{
      font-size: 45px;
    }

    .price{
      font-size: 30px;
    }

    .pricing_list_feature{
      font-size: 1.1rem;
    }
  }

