/*nav bar css*/

* {
    box-sizing: border-box;
     margin: 0; 
     padding: 0; 
     font-family: 'Inter', sans-serif; 
     letter-spacing: 0.05em;
    
}

.navbar {
    background: white; 
    height: 100px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 1rem; 
    position: sticky; 
    top: 0; 
    z-index: 999; 
    padding-top: 25px;
}

.navbar__container {
    display: flex; 
    justify-content: space-between;
    height: 120px; 
    z-index: 1; 
    width: 100%; 
    max-width: 1300px; 
    margin: 0 auto;

}

#navbar__logo {
    background-color: rgb(219, 161, 0);
    background-image: linear-gradient(to top, #ff0844 0%, #fffc3d 100%); 
    background-size: 100%; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    text-decoration: none; 
    font-size: 2.5rem; 
    font-weight: 700; 
}

.fa-brain {
    margin-right: 0.5rem
}

.logo__icon {
    margin-right: 1rem; 
}

.navbar__menu {
    display: flex; 
    align-items: center; 
    list-style: none; 
    text-align: center; 
}

.navbar__item{
    height: 80px;
}

.navbar__links {
    color: black; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    padding: 0 2rem 0 2rem; 
    height: 100%; 
    font-size: 1.2rem;  
    font-weight: 600; 
}

.navbar__btn{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 0 1rem; 
    width: 100%
}

.nav_button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    padding: 15px 20px; 
    height: 100%; 
    width: 100%; 
    border: none; 
    outline: none; 
    border-radius: 50px; 
    background: #131313; 
    color: white; 
    font-weight: bold; 
    font-size: 1rem
}

.nav_button:hover {
    background-color: #5a5a5a; 
    transition: all 0.2s ease; 
}

.navbar__links:hover {
    color: #ffc23d; 
    transition: all 0.2s ease; 
}



/* about css */
.about_main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0 5% 0 5%;
  }
  
  .about_main_container {
    display: block;
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  
  .about_main_div{
    max-width: 100%;
    margin-top: 44px; 
  }
  
  .about_text{
    font-size: 4rem;
    max-width: 75%;
    margin-bottom: 50px;
    line-height: 1.1em;
    font-weight: 700;
  }
  
  
  .meet_team_container{
    display: block;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 70vh;
    margin: 16px auto 16px auto;
    padding: 0 5% 0 5%;
  }
  
  .about_main_gradient{
    max-width: 100%;
  }
  
  .meet_team_head_text_wrapper{
    margin-top: 20px;
    margin-bottom: 4px;
    display: block;
    text-align: center;
  }
  
  .meet_team_head_text{
    font-size: 4rem;
    line-height: 1em;
    font-weight: 700;
  }
  
  .meet_team_row{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center; 
    max-width: 1300px;
    margin: auto;
  }
  
  .team_grid{
    display: grid; 
    margin-top: 16px;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .team_names{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  
  .team_image_person{
    margin-bottom: 15px;
    border-radius: 20px;
    max-width: 100%;
  }

/*Home page*/

.mainDiv {
    display: block;
    width: 100%;
    top: 500px;
}

.imageDiv {
    width: 100%;
    height: 300px;
    margin-top: 1%;
}

.leftIntro {
    float: left;
    width: 50%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(26, 54, 90) , black);
}

.topImage {
    width: 50%;
    height: 100%;
}

.centerText {
    margin: 3%;
}

.video {
    height: 25%;
    min-height: 250px;
    width: 50%;
    min-width: 25%;
    margin: 1% 25%;
    background-color: turquoise;
}

.reviews div {
    float: left;
    width: 25%;
    min-width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 211, 194);
}
.footer {
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
}
