*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.01em;
  }
  
  .tos_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
  }
  
  .tos_container > p {
    text-align: center;
    line-height: 1.6em;
  }
  
  .tos_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tos_container > h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 1.3em;
    text-align: center;
  }

  .tos_container > p {
    font-size: 1rem;
    margin-bottom: 2%;
    max-width: 60ch;
    line-height: 1.7em
  }
  
  .tos_wrap > p {
    font-size: 1rem;
    margin-bottom: 2%;
    max-width: 60ch;
    line-height: 1.7em
  }
  
  .tos_wrap > ul {
    font-size: 1rem;
    margin-bottom: 2%;
    max-width: 60ch;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .tos_wrap > ul > li {
    margin-top: 20px;
    line-height: 1.5em;
  }
  
  .tos_wrap > h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    line-height: 1.3em;
  }

  .tos_wrap > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    line-height: 1.3em;
  }